@keyframes ext-headcrab-comment
{
	from { outline-color: initial; }
	to { outline-color: initial; }
}
#jira .textarea#comment
{
	animation-duration: 1ms;
	animation-name: ext-headcrab-comment;
}

@keyframes ext-headcrab-description
{
	from { outline-color: initial; }
	to { outline-color: initial; }
}
#jira .textarea#description
{
	animation-duration: 1ms;
	animation-name: ext-headcrab-description;
}

@keyframes ext-headcrab-ticket-top
{
	from { outline-color: initial; }
	to { outline-color: initial; }
}
#jira div.toolbar-split
{
	animation-duration: 1ms;
	animation-name: ext-headcrab-ticket-top;
}

@keyframes ext-headcrab-points-dialog
{
	from { outline-color: initial; }
	to { outline-color: initial; }
}
#jira .content .field-group input#customfield_10000
{
	animation-duration: 1ms;
	animation-name: ext-headcrab-points-dialog;
}

@keyframes ext-headcrab-points
{
	from { outline-color: initial; }
	to { outline-color: initial; }
}
#jira .inline-edit-fields .field-group input#customfield_10000
{
	animation-duration: 1ms;
	animation-name: ext-headcrab-points;
}

.ext-headcrab-insert-template
{
	position: relative;
	display: inline-block;
	margin-bottom: 10px;
}
	.ext-headcrab-insert-template ul
	{
		display: none;
		position: absolute;
		top: 30px;
		left: 0;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.ext-headcrab-insert-template.show ul
	{
		display: block;
	}
		.ext-headcrab-insert-template.show ul li
		{
			padding: 5px 15px;
			width: 200px;
			background: #FFF;
			color: #333;
			cursor: pointer;
			font-size: 13px;
		}
		.ext-headcrab-insert-template.show ul li:hover
		{
			background: #3b73af;
			color: #FFF;
		}
.ext-headcrab-insert-git
{
	display: inline-block;
	margin-left: 10px;
}
